.banner-top{

    .box-banner{
        height: 500px;
        width: 100%;
        .home-banner{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    

}
