%Background-White{
    background-color: #ffffff;
}

%Background-Grey{
    background-color: #FCFCFC;
}

#home-page-bg {
    @extend %Background-White;
    padding-bottom: 150px;
}

#privilege-page-bg {
    @extend %Background-White;
    padding-bottom: 150px;
}
#product-detail-bg {
    @extend %Background-White;
}

#contact-page-bg {
    @extend %Background-White;
    padding-top: 120px;
    padding-bottom: 120px;
    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

#login-page-bg {
    @extend %Background-White;
    padding-top: 120px;
    padding-bottom: 220px;
    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

#profile-page-bg {
    @extend %Background-Grey;
    padding-bottom: 150px;
}