@import 'header';
@import 'content';
@import 'footer';
@import 'background';


.wrapper {
    display: block;
    flex-grow: 1;
    background-color: #F6F7F8;  
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }

#__next{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


