#sector-repurchase{

    .image-repurchase{
        width: 100%;
    }

    .layer-left{
        background-color: #F9F9F9;
        justify-content: center;
        align-items: center;
        display: flex;

        .row{
            padding: 0 150px 0 150px;
            @media (max-width: 991px) {
                padding: 0 50px 0 50px;
            }
        }

        .spacial-text{
            color: #22262A;
            font-size: 14px;
            opacity: 0.4;
        }
    }

    .layer-right{

    }
}
