#privilege{
    padding: 150px 0 30px 0;

    .title-privilege{
        font-family: 'Devanagari MT';
        letter-spacing: 1.65px;
        color: #22262A;
        opacity: 0.8;
    }

    .topic-privilege{
        font-family: 'Devanagari MT';
        letter-spacing: 3.75px;
        color: #22262A;
        font-size: 32px;
        font-weight: bold;
    }

    .detail-privilege{
        letter-spacing: 0.45px;
        color: $color-blackSpace;
        opacity: 0.8;
    }
    @media (max-width: 991px) {
        padding: 100px 25px 30px 25px;
    }

}


.image-over{
    width: 75%;
    height: auto;
    position: absolute;
    z-index: 3;
    @media (max-width: 991px) {
        margin-top: 50px;
    }
}

.image-bg-black {
    width: 100%;
    height: auto;
    margin-top: 15%;
    z-index: -1;
}


.box-privilege{
    position: absolute;
    z-index: 3;
    margin-top: 170%;
    background-color: #ffffff;
    box-shadow: 2px 4px 12px #69696929;
    width: 325px;
    height: 275px;

    @media (max-width: 991px) {
        display: none;
    }
}

.box-privilege-mobile{
    background-color: #ffffff;
    box-shadow: 2px 4px 12px #69696929;
    width: 325px;
    height: 275px;
    text-align: center;

    @media (min-width: 992px) {
        display: none;
    }
}

.bg-icon-privilege{
    width: 50px;
    height: 50px;
    background-color: $color-citrus;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid $color-citrus;
    .icon-privilege{
        color: #ffffff;
        font-size: 30px;
    }
}


.detail-box{
    font-size: 14px;
    letter-spacing: 0.45px;
    color: #22262A;
    opacity: 0.8;   
    padding: 0 50px 0 50px;
}

.box-mobile{
    @media (min-width: 992px) {
        display: none;
    }
}