#breadcrumb-style{
    .breadcrumb{
        background-color: transparent;
        .breadcrumb-item{
            a {
                cursor: pointer;
                color: $color-citrus;
                &:hover{
                    text-decoration: underline;
                }
            }

            &.active{
                color: #999999;
            }
        }
    }
}