%btn-narrow{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.btn-citrus-narrow{
    @extend %btn-narrow;
    background-color: $color-citrus;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.8rem;
    color: #ffffff;
    padding: 12px 20px 12px 20px;
    &:hover{
        background-color: $color-citrus-fade;
    }
}

.btn-clean-narrow{
    @extend %btn-narrow;
    background-color: transparent;
    border: 1px solid #BCBCBC;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.8rem;
    color: #000;
    padding: 12px 20px 12px 20px;
    &:hover{
        background-color: #000;
        color: #ffffff;
    }   
}
