.icon-pv{
    color: #fff;
    font-size: 16px;
    border-radius: 100%;
    padding: 2px 4px 2px 4px;
    background-color: $color-citrus;
    border: 1px solid $color-citrus;
    box-shadow: 0px 3px 6px #79352C29;
}