.btn_quantity{
    border-radius: 1px;
    font-size: 16px;
    font-weight: bold;
    color: #191919;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid #ececec;
    &:hover {
        border-color: #00b5e5;
        color: #00b5e5;
    }
}

.btn_delete{
    border-radius: 1px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: $color-citrus;
    border: 2px solid transparent;
    padding: 0 25px 0 25px;
    &:hover {
        background-color: $color-citrus-fade;
        border: 5px solid $color-citrus;
        color: #fff;
        padding: 0 30px 0 30px;
    }
    @media (max-width: 991px) {
        padding: 0 80px 0 80px;
        &:hover {
            background-color: $color-citrus-fade;
            border: 5px solid $color-citrus;
            color: #fff;
            padding: 0 85px 0 85px;
        }
    }
    
}