.modal-QR{
    margin-top: 150px;
    .image-logo{
        width: 60px;
        height: auto;
    }
    .image-qr{
        width: 250px;
        height: auto;
    }
    

    .title-bis{
        font-size: 20px;
        font-weight: bold;
        color: $color-citrus;
        font-family: 'Kanit-Medium';
        letter-spacing: 1.65px;
    }
    .dest-bis{
        font-size: 14px;
        font-weight: bold;
    }

    .text-close{
        background-color: #f4f4f4;
        color: #161616;
        padding: 7px 15px 7px 15px;
        border-radius: 100%;
        cursor: pointer;
        &:hover {
            background-color: #161616;
            color: #f4f4f4;
        }
    }

    .footer-QR{
        background-color: $color-citrus;
        .dest-scan {
            color: #f6b0b0;
        }
        .price-scan {
            color: #ffffff;
            font-size: 24px;
            font-weight: bold;
            font-family: 'Kanit-Medium';
        }
    }
}