@font-face {
    font-family: 'Kanit-Light';
    src: url('/fonts/Kanit-Light.eot');
    src: url('/fonts/Kanit-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Kanit-Light.woff2') format('woff2'),
        url('/fonts/Kanit-Light.woff') format('woff'),
        url('/fonts/Kanit-Light.ttf') format('truetype'),
        url('/fonts/Kanit-Light.svg#Kanit-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Medium';
    src: url('/fonts/Kanit-Medium.eot');
    src: url('/fonts/Kanit-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Kanit-Medium.woff2') format('woff2'),
        url('/fonts/Kanit-Medium.woff') format('woff'),
        url('/fonts/Kanit-Medium.ttf') format('truetype'),
        url('/fonts/Kanit-Medium.svg#Kanit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Regular';
    src: url('/fonts/Kanit-Regular.eot');
    src: url('/fonts/Kanit-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Kanit-Regular.woff2') format('woff2'),
        url('/fonts/Kanit-Regular.woff') format('woff'),
        url('/fonts/Kanit-Regular.ttf') format('truetype'),
        url('/fonts/Kanit-Regular.svg#Kanit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Bold';
    src: url('/fonts/Kanit-Bold.eot');
    src: url('/fonts/Kanit-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Kanit-Bold.woff2') format('woff2'),
        url('/fonts/Kanit-Bold.woff') format('woff'),
        url('/fonts/Kanit-Bold.ttf') format('truetype'),
        url('/fonts/Kanit-Bold.svg#Kanit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, p, span {
	font-family: 'Kanit-Light';
}

.fonts-medium{
	font-family: 'Kanit-Medium';
}