#contact-page{
    .layer-contact-left {
        .title-sector{
            font-family: 'Devanagari MT';
            letter-spacing: 1.65px;
            color: #22262A;
            opacity: 0.8;
            font-size: 15px;
        }
        
        .topic-sector{
            font-family: 'Devanagari MT';
            letter-spacing: 3.75px;
            color: #22262A;
            font-size: 33px;
            font-weight: bold;
        }

        .detail-sector{
            letter-spacing: 0.45px;
            color: $color-blackSpace;
            opacity: 0.8;
        }

        .col-title{
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            flex: 0 0 22%;
            max-width: 22%;
        }
        .col-colon{
            position: relative;
            width: 100%;
            flex: 0 0 3%;
            max-width: 3%;
        }
        .col-detail{
            position: relative;
            width: 100%;
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    .layer-contact-right {

        .label-input {
            font-size: 14px;
            letter-spacing: 0.45px;
            color: $color-blackSpace;
            opacity: 0.8;
        }

    }

}